$ht1: 0.5rem;
$ht2: 1rem;
$ht3: 1.5rem;
$ht4: 2rem;
$ht5: 2.5rem;
$ht6:3rem;

$cream: #f0eeed;
$light: white;
$dark: black;
$gray: #737373;


$round1:0.5rem;
$round2:1rem;
$round3:1.5rem;
$round4:2rem;
$round-max: 4rem;

$container-width: 85%;
$search-width: 33%;
$ninety:90%;

$icon-size: 1rem;
$logo-size: 1.25rem;

$transition: 300ms;

$full:100%;
$ninety: 90%;
$ten: 10%;
$fifteen: 15%;
$sixty: 60%;

$input-height: 2.7rem;
$input-padding: 3.125rem;

$menu-width: 1.25rem;
$menu-line-height: 0.125rem;

$mobile-menu-top: 6.25rem;